* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2.6rem;
}

h2 {
    text-align: center;
}

hr {
    border: none;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;
    margin: 0.4rem 0;
}

.main {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.heading {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.first {
    flex: 45%;
    padding: 1.8rem;
    border-right: 0.2rem solid #dadada;
}

.contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.skill {
    margin-bottom: 3rem;
}

.edu {
    line-height: 2.5ch;
}

.second {
    flex: 55%;
    padding: 1.8rem;
}

.info {
    margin-bottom: 2rem;
}

h4 {
    margin-bottom: 0.4rem;
}

ul {
    margin-left: 2rem;
}